<section id="about" class="bg-zinc-900 w-full p-10">
  <div class="container mx-auto flex flex-col items-center justify-center">
    <div class="w-11/12 sm:w-2/3 flex items-center flex-col justify-between">
      <h2 class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl text-center text-gray-200 font-black leading-7 md:leading-10">
        About High Viz
      </h2>
      <p class="py-4 lg:w-10/12 text-gray-300 font-normal text-center text-sm sm:text-xl">
	With decades of combined expertise, our team supports all aspects of technical and trade event consulting, offering end-to-end solutions across both event operations and IT.
      </p>
      <p class="py-4 lg:w-10/12 text-gray-300 font-normal text-center text-sm sm:text-xl">
	Event Services:
	<ul class="text-gray-300 list-disc">
	  <li>CFP (Call for Papers) Design & Process Flow</li>
	  <li>BEO (Banquet Event Order) Procurement</li>
	  <li>Virtual Event Planning</li>
	  <li>Event Technical Asset Management</li>
	</ul>
      </p>
      <p class="py-4 lg:w-10/12 text-gray-300 font-normal text-center text-sm sm:text-xl">
	Technology Solutions:
	<ul class="text-gray-300 list-disc">
	  <li>Custom Middleware Development</li>
	  <li>Technical Leadership</li>
	  <li>Security Audits</li>
	  <li>IT Services</li>
	  <li>Custom Software Development</li>
	</ul>
      </p>
    </div>
  </div>
</section>
